<div class="app-page app-fluid" id="blog">
    <div class="app-page__layout">
        <h1 class="app-section__title">{% include i18n id="Archive" %}</h1>
        <div class="app-grid app-grid-archive">
            {% assign posts = site.posts | where_exp:'item', 'item.lang == page.lang' %}
            {% for post in posts %}
                {% assign year = post.date |  da %}
                {% include block/item.liquid %}
            {% endfor %}
        </div>
    </div>
</div>
