<div class="app-page app-fluid" id="blog">
    <div class="app-page__layout">
        <div class="app-grid">
            {% include block/list.liquid item='block/entry.liquid' %}
        </div>
    </div>
</div>
