{% assign path    = page.url | split: '/' | compact %}
{% assign name    = path[2] %}
{% assign redirect = site.profiles[name] | default: site.contacts[name]  | default: '/' %}
<div class="app-page app-fluid app-centered fx-1">
    <h1><a href="{{page.redirect}}" rel="me">{{page.title}}</a></h1>
    <p>{{page.description}}</p>
</div>
<script>
    (function(url){
        if( navigator.userAgent.match('bot') ) return;
        location.replace(url);
    })('{{redirect}}')
</script>
