<div class="app-header">
    <div class="app-header__progress"></div>
    <div class="app-header__layout">
        <h2 class="app-header__logo">
            <a href="{{ '/' | append: page.lang | append: '/' | absolute_url }}" aria-label="{% include i18n id=site.title %}" data-rel="banner">
                {% include icon name="logo" %}
                <span class="app-header__title">{% include i18n id=site.title %}</span>
            </a>
        </h2>
        <nav class="app-header__nav">
            <div class="app-header__link">
                <a href="{{ 'https://romasheva.design/' | append: page.lang | append: '/'   }}" rel="author">{% include i18n id="Design" %}</a>
            </div>
            <div class="app-header__link">
                <a href="{{ 'https://alla.romasheva.com/' | append: page.lang | append: '/'   }}" rel="author">{% include i18n id="Resume" %}</a>
            </div>
        </nav>
    </div>
</div>
