---
title: Закони UX
description: Закони UX зосереджені на тому, щоб зробити складні евристики психології доступними для більшої кількості дизайнерів через інтерактивний ресурс, який збирає ті, що мають відношення до дизайну досвіду користувачів.
lang: uk
category: uk
source:
    name: computy.ru
    url: https://computy.ru/blog/20-zakonov-ux-dizajna/
author:
    name: computy.ru
    url: https://computy.ru/blog/20-zakonov-ux-dizajna/
image:
    path: https://i.imgur.com/OosiISl.jpg
    width: 800
    height: 400
---

{% include imgur src="Uu1oMqm.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Естетичний ефект юзабіліті”</h3>

<b>Користувачі часто сприймають естетично приємний дизайн як дизайн, який зручніше використовувати.</b>

<b>Особливості:</b>

- Естетично привабливий дизайн викликає позитивну реакцію в мозку людей і змушує їх вірити, що дизайн насправді працює
краще.

- Люди терпиміше ставляться до незначних проблем із зручністю використання, коли дизайн продукту чи послуги є естетичним.

- Візуально приємний дизайн може маскувати проблеми юзабіліті та запобігати виявленню проблем під час тестування
юзабіліті.

<b>Походження:</b>

Ефект естетичного використання вперше було вивчено у сфері взаємодії людини та комп’ютера в 1995 році. Дослідники Масаакі
Куросу та Каори Кашимура з Hitachi Design Center протестували 26 варіантів інтерфейсу банкомата, попросивши 252 учасників
дослідження оцінити кожен дизайн за простотою використання. використання, а також естетична привабливість. Вони виявили
сильнішу кореляцію між оцінками учасників щодо естетичної привабливості та сприйнятою простотою використання, ніж
кореляція між їхніми оцінками естетичної привабливості та фактичною простотою використання. Куросу і Кашимура дійшли
висновку, що на користувачів сильно впливає естетика будь-якого інтерфейсу, навіть коли вони намагаються оцінити основну
функціональність системи.

{% include imgur src="gQVdJDM.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Поріг Доерті”</h3>

<b>Продуктивність зростає, коли комп’ютер і його користувачі взаємодіють зі швидкістю (<400 мс), що гарантує, що жодному
    не доведеться чекати на іншого.
</b>

<b>Особливості:</b>

- Забезпечте систему зворотного зв’язку протягом 400 мс, щоб утримувати увагу користувачів та підвищити продуктивність.

- Використовуйте прийняту продуктивність, щоб покращити час відповіді та зменшити відчуття очікування.

- Анімація — це один із способів візуального залучення людей під час завантаження або обробки у фоновому режимі.

- Індикатори прогресу допомагають зробити час очікування терпимим, незалежно від їхньої точності.

- Цілеспрямоване додавання затримки до процесу може фактично збільшити його прийняття цінності та вселіти почуття довіри,
навіть якщо сам процес насправді займає значно менший час.

<b>Походження:</b>

У 1982 році Уолтер Дж. Доерті та Арвінд Дж. Тадані опублікували в IBM Systems Journal дослідницьку роботу, яка встановила
вимогу до часу розгляду комп’ютера на рівні 400 мілісекунд, а не 2000 (2 секунди), які були попереднім стандартом. Коли
команда людини була виконана та повернула відповідь менше ніж за 400 секунд, важилося, що вона перевершила поріг Доерті,
а використання такої програми вважалося «звикаючим» для користувачів.

{% include imgur src="CC3QfC3.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Фіттса”</h3>

<b>Час досягнення цілі залежить від відстані та розміру цілі.</b>

<b>Особливості:</b>

- Цілі натискання мають бути достатньо великими, щоб користувачі могли їх точно вибрати.

- Сенсорні цілі повинні мати достатнє відстань між ними.

- Сенсорні цілі слід розміщувати в областях інтерфейсу, щоб їх легко отримати.

<b>Походження:</b>

У 1954 році психолог Пол Фіттс, досліджуючи рухову систему людини, показавши, що година, потрібна для пересування до цілі,
залежить від відстані до неї, але пропорційно залежить від її розміру. За його законом, швидкі переміщення та невеликі цілі
призводять до більшого рівня помилок через компроміс між швидкістю та точністю. Хоча існує кілька варіантів закону Фіттса,
всі вони охоплюють цю ідею. Закон Фіттса широко застосовується в дизайні користувацького досвіду (UX) та інтерфейсу
користувача (UI). Наприклад, цей закон вплинув на конвенцію робити інтерактивні кнопки великими (особливо на мобільних
пристроях, які керуються пальцями) — менші кнопки натискати важче (і займають багато годин). Аналогічно, відстань між
зоною завдання/уваги користувача та кнопкою, пов'язаною із завданням, має бути якомога коротшою.

{% include imgur src="bBBa7OF.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Хіка”</h3>

<b>Час, необхідний для прийняття рішення, збільшується з кількістю та складністю вибору.</b>

<b>Особливості:</b>

- Мінімізуйте вибір, коли година відповіді має вирішальне значення для збільшення часу прийняття рішення.

- Розбивайте складні завдання на менші кроки, щоб зменшити когнітивне навантаження.

- Уникайте перевантаження користувачів, виділяючи рекомендовані варіанти.

- Використовуйте прогресивну адаптацію, щоб мінімізувати когнітивне навантаження для нових користувачів.

- Будьте обережні, щоби не спрощувати до абстракції.

<b>Походження:</b>

Закон Хіка (або Закон Хіка-Хаймана) назв на честь британської та американської команди психологів Вільяма Едмунда Хіка
та Рея Хаймана. У 1952 році ця пара взялася дослідити зв'язок між кількістю наявних стимулів та годиною реакції людини
на будь-який даний стимул. Як і слід було очікувати, чим більше стимулів на вибір, тим більше години потрібно користувачеві,
щоб ухвалити рішення, з яким із них взаємодіяти. Користувачі, засипані вибором, повинні потратити годину, щоб інтерпретувати
та прийняти рішення, даючи їм роботу, якої вони не хочуть.

{% include imgur src="XhVhNNj.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Якоба”</h3>

<b>Більшість часу користувачі проводять на інших сайтах. Це означає, що користувачі вважають за краще, щоб ваш сайт
    працював так само, як і всі інші сайти, які вони вже знають.
</b>

<b>Особливості:</b>

- Користувачі переносять очікування, які вони побудували навколо одного знайомого продукту, на інший, схожий.

- Використовуючи існуючі ментальні моделі, ми можемо створити чудовий досвід користувача, в якому користувачі можуть
зосередитися на своїх завданнях, а не на вивченні нових моделей.

- Вносячи зміни, мінімізуйте розбіжності, надаючи користувачам можливість продовжувати використовувати знайому версію
протягом обмеженого часу.

<b>Походження:</b>

Закон Якоба вигадав Якоб Нільсен, захисник користувачів і керівник групи Nielsen Norman, яку він заснував разом із
доктором Дональдом А. Норманом (колишній віце-президент з досліджень Apple Computer). Доктор Нільсен заснував рух
«інженерного забезпечення зручності використання скидок» для швидкого та дешевого покращення користувацьких інтерфейсів
та винайшов кілька методів зручності використання, включаючи евристичну оцінку.

{% include imgur src="9zBCzj4.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон спільного регіону”</h3>

<b>Елементи, як правило, сприймаються в групи, якщо вони спільні з територією з чітко визначеною межею.</b>

<b>Особливості:</b>

- Загальний регіон створює чітку структуру та допомагає користувачам швидко та ефективно зрозуміти зв'язок між елементами
та розділами.

- Додавання межі навколо елемента чи групи елементів — це простий спосіб створити загальну область.

- Загальну область також можна створити, визначивши фон за елементом або групою елементів.

<b>Походження:</b>

Принципи групування (або гештальт-закони групування) — це набір принципів у психології, вперше запропонованих гештальт-психологами
для пояснення спостереження, що люди природно сприймають об'єкти як організовані шаблони та об'єкти, принцип, відомий як
Prägnanz. Гештальт-психологи стверджували, що ці принципи є тому, що розум має вроджену схильність сприймати шаблони в
стимулі на основі певних правил. Ці принципи поділяються на п'ять категорій: близькість, подібність, безперервність,
замкнутість та зв'язність.

{% include imgur src="2PbVEXE.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Прегнанца”</h3>

<b>Люди сприймають і інтерпретують неоднозначні чи складні образи як найпростішу можливу форму, тому що саме інтерпретація
    вимагає від нас найменших пізнавальних зусиль.
</b>

<b>Особливості:</b>

- Людське око любить знаходити простоту і порядок у складних формах, тому що це не дає нам бути перевантаженими інформацією.

- Дослідження підтверджують, що люди найкраще візуально обробляють і запоминають прості фігури, ніж складні.

- Людське око спрощує складні форми, перетворюючи їх у єдину, єдину форму.

<b>Походження:</b>

У 1910 році психолог Макс Вертгеймер зрозумів, коли він спостерігав серію вогнів, що вмикаються та виключаються на залізничному
переїзді. Це було схоже на те, як спалахують і виключаються вогні, що оточують намет кінотеатру. Спостерігачеві здається,
що одне світло рухається навколо шатра, подорожуючи від лампочки до лампочки, тоді як насправді це серія лампочок, які
вмикаються і выключаються, а світло не рухає все це. Це спостереження призвело до набору описових принципів щодо того,
як ми візуально сприймаємо об'єкти. Ці принципи лежать в основі майже всього, що ми робимо графічно як дизайнери.

{% include imgur src="LCP4d38.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон близькості”</h3>

<b>Об'єкти, що знаходяться поруч або близько один до одного, як правило, групуються разом.</b>

<b>Особливості:</b>

- Близькість допомагає налагодити зв'язок із навколишніми об'єктами.

- Вважається, що елементи, що знаходяться в безпосередній близькості, мають схожу функціональність або риси.

- Proximity допомагає користувачам швидше і ефективніше розуміти та впорядковувати інформацію.

<b>Походження:</b>

Принципи групування (або гештальт-закони групування)

{% include imgur src="sDnaas8.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон подібності”</h3>

<b>Людське око схильне сприймати подібні елементи в дизайні як цілісну картину, форму або групу, навіть якщо ці елементи
    розділені.
</b>

<b>Особливості:</b>

- Визуально схожі елементи будуть сприйматися як споріднені.

- Колір, форма, розмір, орієнтація та рух можуть сигналізувати про те, що елементи належать до однієї групи і, ймовірно, мають спільне значення чи функціональність.

- Упевніться, що посилання та системи навігації визуально відрізняються від звичайних текстових елементів.

<b>Походження:</b>

Принципи групування (або гештальт-закони групування)

{% include imgur src="8NaOe3x.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон рівномірної зв'язності”</h3>

<b>Опис елементів, які візуально пов'язані, сприймаються як більш пов'язані, ніж елементи без зв'язку.</b>

<b>Особливості:</b>

- Групові функції мають схожий характер, тому вони візуально пов'язані кольорами, лініями, рамками чи іншими формами.

- Крім того, ви можете використовувати відчутну сполучну посилання (лінію, стрілку тощо) від одного елемента до іншого,
щоб також створити візуальний зв'язок.

- Використовуйте однорідну зв'язність, щоб показати контекст або підкреслити зв'язок між подібними елементами.

<b>Походження:</b>

Принципи групування (або гештальт-закони групування)

{% include imgur src="bhf4j2a.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Міллера”</h3>

<b>Середня людина може зберегти лише 7 (плюс-мінус 2) предметів у своїй робочій пам'яті.</b>

<b>Особливості:</b>

- Не використовуйте магічне число сім для виправдання непотрібних обмежень дизайну.

- Організуйте вміст на менші частини, щоб допомогти користувачам легко обробляти, розуміти та запам'ятовувати.

- Пам'ятайте, що обсяг короткочасної пам'яті буде різним у кожного людини залежно від її попередніх знань та ситуаційного
контексту.

<b>Походження:</b>

У 1956 році Джордж Міллер стверджував, що проміжок безпосередньої пам'яті та абсолютного судження обмежені приблизно
7 частинами інформації. Основною одиницею інформації є біт, кількість даних, потрібна для вибору між двома однаково
ймовірними альтернативами. Аналогічно, 4 біти інформації є рішенням між 16 бінарними альтернативами (4 послідовними
двійковими рішеннями). Точкою, де плутанина створює неправильне судження, є пропускна здатність каналу. Іншими словами,
кількість бітів, які можуть бути надійно передані через канал протягом певного проміжку години.

{% include imgur src="3i3C7HS.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Бритва Оккама”</h3>

<b>Серед конкуруючих гіпотез, які однаково добре прогнозують, слід вибрати ту з найменшою кількістю припущень.</b>

<b>Особливості:</b>

- Найкращий спосіб зменшити складність – це уникати її в першу чергу.

- Проаналізуйте кожний елемент і видалити якнайбільше, не порушуючи загальну функцію.

- Вважайте завершенням лише тоді, коли не можна видалити додаткові елементи.

<b>Походження:</b>

Бритва Оккама (також бритва Оккама; лат. lex parsimoniae «закон економії») — це принцип вирішення проблем, за яким, коли
представлені конкуруючі гіпотетичні відповіді на проблему, слід вибрати той, який робить найменше кількість припущень.
Ідея приписується Вільяму Оккаму (бл. 1287–1347), який був англійським францисканським ченцем, філософом-схоластом та теологом.

{% include imgur src="qCGKqaP.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Принцип Парето”</h3>

<b>Принцип Парето стверджує, що для багатьох подій приблизно 80% наслідків походить від 20% причин.</b>

<b>Особливості:</b>

- Входи та виходи часто розподілені нерівномірно.

- Велика група може містити лише кілька значущих учасників, які сприяють бажаному результату.

- Зосередьте більшість зусиль на сферах, які принесуть найбільшу користь більшості користувачів.

<b>Походження:</b>

Його витоки сягають Вільфредо Парето, економіста, який зауважив, що 80% землі Італії належить 20% населення. Хоча це може
здатися невизначеним, спосіб мислення 80/20 може забезпечити глибокий і нескінченно застосовний аналіз односторонніх систем,
включаючи стратегію взаємодії з користувачем.

{% include imgur src="mYa4VM0.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Паркінсона”</h3>

<b>Будь-яке завдання буде роздуватись, доки не буде витрачено всю доступну годину.</b>

<b>Особливості:</b>

- Обмежте годину, потрібну для виконання завдання, до тих, які очікують користувачі.

- Зменшення фактичної тривалості виконання завдання порівняно з очікуваною покращити загальну роботу користувача.

<b>Походження:</b>

Сформульоване Сирілом Норткотом Паркінсоном як частина першого речення гумористичного есе, опублікованого в The Economist
у 1955 році і після перевидання в Інтернеті, воно було передруковане разом з іншими есе у книжці «Закон Паркінсона:
погоня за прогресом» (Лондон, Джон Мюррей, 1958). . Він вивив цей вислів зі свого великого досвіду роботи на британській
державній службі.

{% include imgur src="D634htS.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Правило пікового кінця”</h3>

<b>Люди судять про досвід здебільшого на основі того, як вони відчували себе на його піку та в кінці, а не на загальній
    сумі чи середньому кожному моменті переживання.
</b>

<b>Особливості:</b>

- Зверніть увагу на найінтенсивніші моменти та останні моменти (“кінець”) шляху користувача.

- Визначте моменти, коли ваш продукт є найбільш корисним, цінним чи розважальним, і створіть, щоб порадувати кінцевого
користувача.

- Пам'ятайте, що негативний досвід люди згадують яскравіше ніж позитивний.

<b>Походження:</b>

Дослідження Канемана, Фредріксона, Чарльза Шрайбера та Дональда Редельмайєра під назвою «Якщо більше болю віддають перевагу
меншому: додаємо кращий кінець» під назвою «Якщо більше болю віддають перевагу менше: додавання кращого кінця» надало
новаторські докази правила пік-кінець. Учасники були піддані двома різними версіями одного неприємного досвіду. У першому
дослідженні пацієнти занурювали руку у воду з температурою 14°C на 60 секунд. В іншому дослідженні суб'єкти занурювали
іншу руку у воду з температурою 14°C на 60 секунд, але потім тримали руку зануреною ще 30 секунд, протягом яких температуру
підвищили до 15°C. Потім суб'єктам пропонували вибір, яке дослідження повторити. За законом тимчасової монотонності суб'єкти
були більш охоче повторили друге випробування, незважаючи на тривалий вплив некомфортних температур. Kahneman та ін.

{% include imgur src="QRS5FQg.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Постеля”</h3>

<b>Будьте ліберальними у тому, що ви приймаєте, і консервативними у тому, що надсилаєте.</b>

<b>Особливості:</b>

- Будьте чуйними, гнучкими та толерантними до будь-яких дій, які може зробити користувач, або будь-якого внеску, який він
може надати.

- Передбачайте практично будь-що з точки зору введення, доступу та можливостей, забезпечуючи надійний та доступний інтерфейс.

- Чим більше ми можемо передбачити і спланувати в дизайні, тим стійкішим буде дизайн.

- Приймайте змінні дані від користувачів, перекладаючи їх відповідно до ваших вимог, визначаючи межі для введення та надаючи
чіткий зворотній зв'язок користувачеві.

<b>Походження:</b>

Закон Постеля (також відомий як принцип надійності) був сформульований Джоном Постілем, першим піонером Інтернету. Закон
є рекомендацією щодо розробки програмного забезпечення, зокрема щодо TCP та мереж, і стверджує, що «Реалізація TCP повинна
відповідати загальному принципу надійності: будь консервативним у тому, що ти робиш, будь ліберальним у тому, що ти приймаєш
від інших». Іншими словами, програми, які надсилають повідомлення на інші машини (або інші програми на тій самій машині),
повинні повністю відповідати специфікаціям, але програми, які отримують повідомлення, повинні приймати невідповідний вхід,
доки сенс зрозумілий.

{% include imgur src="TqCc5mz.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Ефект послідовного положення”</h3>

<b>Користувачі мають схильність найкраще запам'ятовувати перший та останній елементи серії.</b>

<b>Особливості:</b>

- Розміщення найменш важливих елементів у середині списків може бути корисним, оскільки ці елементи, як правило, рідше
зберігаються у довготривалій та робочій пам'яті.

- Розташування ключових дій вліво і вправо в таких елементах, як навігація, може покращити запам'ятовування.

<b>Походження:</b>

Ефект послідовного розташування, термін, введений Германом Еббінгаузом, описує, як положення елемента у послідовності
впливає на точність відгуку. Дві залучені концепції, ефект першості та ефект недавності, пояснюють, як елементи, представлені
на початку послідовності та в кінці послідовності, згадуються з більшою точністю, ніж елементи в середині списку.
Маніпулювання ефектом послідовного розташування для створення кращого досвіду користувача відображено у багатьох популярних
дизайнах успішних компаній, таких як Apple, Electronic Arts та Nike.

{% include imgur src="Dq0oMyv.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Закон Теслера”</h3>

<b>Закон Теслера, також відомий як закон збереження складності, стверджує, що для будь-якої системи існує певна кількість
    складності, яку неможливо зменшити.
</b>

<b>Особливості:</b>

- Всі процеси мають суть складності, яку неможливо спроектувати, і тому вона повинна бути прийнята системою або користувачем.

- Упевніться, що якомога більше навантаження знімається з користувачів, вирішуючи притаманну складність під час проектування
та розробки.

- Будьте обережні, щоб не спростити інтерфейси до абстракції.

<b>Походження:</b>

Працюючи в Xerox PARC у середині 1980-х, Ларрі Теслер зрозумів, що спосіб взаємодії користувачів із програмами настільки
ж важливий, як і сама програма. Книга «Проектування взаємодії» Дена Саффера містить інтерв'ю з Ларрі Теслером, яке описує
закон збереження складності. Інтерв'ю популярне серед дизайнерів користувацького досвіду та взаємодії. Ларрі Теслер стверджує,
що в більшості випадків інженер повинен витратити додатковий тиждень, щоб зменшити складність програми, а не змушувати
мільйони користувачів витрачати додаткову хвилину на використання програми через додаткову складність. Проте Брюс
Тоньяцціні пропонує людям протистояти скороченню складності свого життя. Таким чином, коли додаток спрощується, користувачі
починають виконувати більш складні завдання.

{% include imgur src="4HV7Hi7.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Ефект фон Ресторфа”</h3>

<b>Ефект фон Ресторфу, також відомий як ефект ізоляції, передбачає, що коли присутні кілька подібних об'єктів, найімовірніше,
    запам'ятається той, що відрізняється від інших.
</b>

<b>Особливості:</b>

- Зробіть важливу інформацію чи ключові дії візуально відмінними.

- Використовуйте стриманість, коли акцентуйте увагу на візуальних елементах, щоб уникнути їх конкуренції один з одним і гарантувати, що помітні елементи не будуть помилково ідентифіковані як реклама.

- Не виключайте людей із дефіцитом кольорового зору або слабким зором, покладаючись виключно на колір для передачі контрасту.

- Уважно подумайте про користувачів із чутливістю до руху, коли використовуєте рух для передачі контрасту.

<b>Походження:</b>

Ця теорія була створена німецьким психіатром і педіатром Гедвігою фон Ресторф (1906–1962), яка у своєму дослідженні 1933
року виявила, що коли учасникам представляли список категорично подібних предметів з одним відмінним, ізольованим пунктом
у списку, пам'ять для предмету була

{% include imgur src="S8VLd3K.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<h3>“Ефект Зейгарніка”</h3>

<b>Люди запам'ятовують незавершені або перервані завдання краще, ніж виконані.</b>

<b>Особливості:</b>

- Запропонуйте виявляти вміст, надаючи чіткі ознаки додаткового вмісту.

- Забезпечення штучного просування до мети допоможе забезпечити користувачів, швидше за все, матиме мотивацію для виконання цього завдання.

- Надайте чітке вказівку прогресу, щоб мотивувати користувачів виконувати завдання.

<b>Походження:</b>

Блюма Вульфівна Зейгарнік (1900 – 1988) – радянський психолог та психіатр, член Берлінської школи експериментальної психології
та гуртка Виготського. Вона відкрила ефект Зейгарника і сприяла становленню експериментальної психопатології як окремої
дисципліні у Радянському Союзі у період після Другої світової війни. У 1920-х роках вона провела дослідження пам'яті, в
якому порівнювала пам'ять у зв'язку з незавершеними та завершеними завданнями. Вона виявила, що незавершені завдання легше
запам'ятати, ніж успішні. Зараз це відоме як ефект Зейгарніка. Пізніше вона почала працювати в Інституті вищої нервової
діяльності, де вона зустріне свій наступний великий вплив на Виговського, і стане частиною його кола вчених. Там же
Зейгарнік заснував кафедру психології.

