---
title: Як побудувати карту досвіду взаємодії
description: Карта досвіду взаємодії показує шлях клієнта під час роботи з продуктом або послугою. Вона також відображає поведінку ваших конкурентів по відношенню до цього шляху.
lang: uk
category: uk
source:
    name: prodesign.in.ua
    url: https://prodesign.in.ua/2016/04/yak-pobuduvaty-kartu-dosvidu-vzajemodiji/
author:
    name: Сашко Бублієнко
    url: https://prodesign.in.ua/2016/04/yak-pobuduvaty-kartu-dosvidu-vzajemodiji/
image:
    path: https://i.imgur.com/g4SobSb.jpg
    width: 800
    height: 400
---

Карта досвіду взаємодії показує шлях клієнта під час роботи з продуктом або послугою. Вона також відображає поведінку
ваших конкурентів по відношенню до цього шляху.

Відображення взаємодії з точки зору клієнта допомагає організаціям визначити стратегічні можливості та слабкі місця для
клієнта, а також створювати інноваційні проекти.

Навіщо потрібна карта досвіду взаємодії?

Карта взаємодії допомагає організації побачити більш широку картину і вирішити, де, на основі наукових досліджень,
зосередити свою діяльність. Побачивши ширшу картину, ви зможете:
- Визначити проекти і побудувати дорожню карту роботи
- Визначити можливості для інновацій
- Зрозуміти, де в даний час добре підтримується користувальницький досвід

<b>Проведення досліджень</b>

{% include imgur src="Alkq8iv.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

Є багато типів досліджень, які можна використовувати, щоб допомогти побудувати карту. Деякі з них включають:
- Етнографічні дослідження
- Глибинні інтерв’ю
- Дослідження Guerrilla

Те, як ви проводите дослідження, може вплинути на якість зібраних даних. Але зараз не будемо описувати методології досліджень
користувачів, так як це зовсім інша тема.

В ідеальному світі, ви повинні аналізувати всі аудіозаписи з інтерв’ю. Аналіз такого обсягу даних може зайняти кілька тижнів,
в залежності від кількості проведених досліджень. Це не ідеально для світу, де дослідження обмежені в бюджеті, і де
важливо бути першим на ринку.

Альтернативний підхід – це проводити інтерв’ю двом людям. Одна людина відповідає за проведення інтерв’ю, в той час як
інша – робить докладні записи і нотатки. Потім ви можете використовувати ці записи для аналізу.

<b>Аналіз досліджень</b>

Після проведення інтерв’ю відкрийте Excel-файл або Google-таблицю. Прочешіть ваші замітки і виберіть те, що люди роблять,
відчувають і думають.

Важливо записувати фрази у структурованому порядку, з точки зору користувача.

Дія: Я «дієслово» … Приклад: я скаржуся на товар
Почуття: Я відчуваю … Приклад: Я злюся через розбитий товар
Думки: Я вважаю, що … Приклад: Я вважаю, що якість не відповідає вимогам до товару

{% include imgur src="sKZ9QxC.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

Після того, як ви закінчите аналіз, напишіть всі моделі поведінки і почуття на стікери для заміток (по типу наліпок post-it).
Видаліть «Я» в списку дій, і «я відчуваю» у записаному списку почуттів, щоб зробити карту менш завантаженою і більш розбірливою.

<b>Групування поведінки і почуттів</b>

Згрупуйте, що люди роблять (поведінку) і почуття на основі задач клієнтів. В залежності від продукту або послуги ви можете мати 40-80 задач.
Прикладом цілі може бути, коли люди «платять за товар».

{% include imgur src="ToTYAjs.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Виділення пріоритетної поведінки і почуттів</b>

Під задачами розмістіть те, що люди роблять (поведінка), позитивні почуття і негативні почуття.

Розставте в порядку пріоритетності індивідуальну поведінку і почуття, які найкращим чином відповідають задачі, або найбільш
часто зустрічаються у коментарях.

{% include imgur src="qpo87Mo.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Порядок задач</b>

Жоден клієнт не продемонструє всі типи поведінки, які можуть з’явитися під час взаємодії з продуктом або послугою.
Карта збирає в себе всі види поведінки, почуттів і думок усіх клієнтів. Крім того, не у всіх людей ці задачі розміщені
в такому ж порядку.

Вам вирішувати, які робити висновки з приводу порядку задач, згідно проведених досліджень. Після того, як ви розставили
задачі у певній послідовності, розбийте їх на групи або етапи взаємодії.

Називаючи етапи, описуйте дію, яка відбувається протягом певного періоду часу.

Приклади назв для етапів: вибір, покупка і т.д.

{% include imgur src="d66Elbc.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Огляд компанії</b>

Якщо ви будете мати представника різних відділів компанії, це допоможе вам зрозуміти основні ознаки продукту, які впливають
на поведінку користувача.

{% include imgur src="6aVG3M0.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Огляд конкурентів</b>

Проаналізувати, що ваші конкуренти роблять добре, не так вже й легко. Найкращий спосіб це зробити – провести поздовжнє дослідження.

Поздовжнє (чи лонгітюдне) дослідження – це метод дослідження за допомогою спостереження, в якому дані і спостереження
збираються у певного числа учасників протягом деякого періоду часу.

Журнальні дослідження – моя улюблена форма поздовжнього дослідження. Вони можуть тривати до декількох тижнів або місяців.
Це дослідження фіксує взаємодії, які можуть бути невидимими для вашої організації, наприклад, пов’язаність із конкурентами
за ціною.

В цьому випадку ми шукаємо ряд яскравих моментів під час взаємодії з продуктом або послугою, щоб зрозуміти, які є сильні
сторони у наших конкурентів. Найзручніший спосіб збору цих моментів – це використання учасниками мобільного додатку.
Один із додатків, який варто згадати – це <a>nativeye</a>.

Альтернативою журнальному дослідженню може бути проведення аналізу конкурентів шляхом кабінетних досліджень. Однак вони
дадуть значно менше розуміння того, що ваші конкуренти пропонують своїм клієнтам.

{% include imgur src="MWhLHrH.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Додавання думок про товар чи послугу</b>

Тепер прийшов час додати те, що клієнти думають про ваш продукт або послугу.

Випишіть із проведеного аналізу, що клієнти думають, і спробуйте виділити у групи схожі «думки» на стікерах. Назвіть кожну
групу окремою міткою, яка характеризує всі ці стікери. Ці наліпки представлятимуть думки людей про продукт або послугу.

Ці думки повинні бути за межами карти з двох причин. Змішування поведінки, почуттів і думок руйнує послідовність карти.
Крім того, думки людей – це те, що вони думають про продукт з філософської точки зору, а не з точки зори його використання.

{% include imgur src="WW6GoG6.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Представлення карти своїй компанії</b>

Після того як карта буде завершена, влаштуйте мозковий штурм із власниками продукту для обговорення ідей для дорожньої карти.
Уявіть цю карту спочатку, проходячи через кожну фазу, включаючи характеристики своєї компанії та конкурентів.

Легко забути, що бізнес-рішення впливають на реальних людей. Коли ви презентуєте свою карту людям у вашій компанії,
ви повинні розповісти історії, які ви чули під час досліджень користувачів.

Розказуючи історії керівництву, ви збільшите близькість організації по відношенню до клієнтів і допоможете їм приймати
більш обґрунтовані рішення в майбутньому.

<b>Виявлення можливостей</b>

Прогалини виявляться і покажуть, де продукт або послуга не відповідає поведінці клієнтів. Стратегічно важливі питання
також стануть видимими, враховуючи конкуренцію.

{% include imgur src="zrsa1PN.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

<b>Створення дорожньої карти роботи</b>

Незалежно від того, скільки доказів ви представили перед організацією, коли справа доходить до створення дорожньої карти,
ви повинні враховувати інші фактори, які вступають у гру. Карта досвіду взаємодії не є рішенням для внутрішньої політики,
але вона дасть вам можливість окреслити очевидні дані від клієнтів, оскільки ви працюєте шляхом пріоритетних задач.

Першим кроком у створенні дорожньої карти є виділення пріоритетів у вашому списку ідей. Я рекомендую використовувати
набір критеріїв, щоб допомогти розставити пріоритети потенційних проектів. Ви можете дати кожному проекту оцінку на
основі набору критеріїв.

Оцінка потенційних проектів – суб’єктивний процес, але використання експертів у предметній області і будь-яких доступних
даних у цьому допоможе.

<b>Приклад критеріїв:</b> Технічні аспекти.

<b>Експерт у предметній області:</b> Провідний розробник.

Використовуйте окремі вкладки для коментарів від експерта, щоб дати обґрунтування по кожному пункту. Людина, яка буде
приймати рішення, будете ставити питання і вивчати тему далі.

{% include imgur src="JxLCfki.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}

Пріоритетність проектів – це не так просто, як здається, і це не просто дати кожному з них оцінку. Кожна ініціатива,
скоріше за все, має свої власні залежності і обмеження. Тому іноді буде більш ефективним групувати разом деякі частини роботи.

В кінці дня, коли у вас є список пріоритетних проектів, ви повинні зробити план, оснований на тому, що є найбільш практичним.

<b>Приклад карти досвіду взаємодії</b>

{% include imgur src="4oPHzl4.png" alt="Photo courtesy of olivia mew(CC No Derivatives)" %}







