---
title: Privacy Policy
permalink: en/privacy.html
sitemap: false
layout: post
---

<h3>How we protect your information</h3>
<p>We take appropriate security measures to collect, store and process the collected information to protect
    it from unauthorized access, alteration, disclosure or destruction of your personal information
    (username, password, transaction information and data stored on our Site).</p>
<h3>Sharing personal information</h3>
<p>We do not sell, exchange or rent personal information to users. We may share general non-personally
    identifiable demographic information with our partners and advertisers for the purposes described above.
    We may use third-party service providers to help us manage our business and the Site or manage
    activities on our behalf, such as mailing or statistical and other surveys. We may share this
    information with these third parties for a limited purpose, provided that you have given us the
    appropriate permissions.</p>
<h3>Changes to privacy policy</h3>
<p>We have the discretion to update this privacy policy at any time. In this case, we will post a message on
    the homepage of our Site and notify you by email. We encourage users to check this page regularly to
    stay up to date with any changes to how we protect the personal information we collect. By using the
    Site, you agree to accept responsibility for periodically reviewing and changing the Privacy Policy.</p>
<h3>Your agreement to these terms</h3>
<p>By using this Site, you agree to be bound by this policy. If you do not agree to this policy, please do
    not use our Site. Your continued use of the Site after you make changes to these policies will be
    considered your agreement to those changes.</p>
<h3>Disclaimer</h3>
<p>Remember, privacy practices when visiting third-party Third Party Sites are not covered by this document.
    The Site administration is not responsible for the actions of other websites.</p>
<h3>How to contact us</h3>
<p>If you have any questions about the privacy policy, use of the Site, or other issues related to the Site,
    please contact us at:</p>
<p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
